* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.colors-wrapper {
    width: 100%;
    height: 75vh;
}

.color {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}